<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89975840381-9l1bqrcq52908tdpeve7044env28tlsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89975840381-9l1bqrcq52908tdpeve7044env28tlsh</string>
	<key>API_KEY</key>
	<string>AIzaSyAOCR9z12axYR2z6wmPQ0mecg3sih0aHgs</string>
	<key>GCM_SENDER_ID</key>
	<string>89975840381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takeDrug</string>
	<key>PROJECT_ID</key>
	<string>takedrug-dd3ed</string>
	<key>STORAGE_BUCKET</key>
	<string>takedrug-dd3ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89975840381:ios:945d61e5306313de1adb14</string>
</dict>
</plist>